.gameBox{
	overflow: hidden;
	position: relative;
	width: 500px;
	height: 300px;
	border: 2px solid #000000;
}
.bird{
	position: absolute;
	top: 50px;
	left: 120px;
	width: 20px;
	height: 20px;
	background-color: #000000;
}
.block{
	position: absolute;
	width: 20px;
	height: 120px;
	background-color: #ff0000;
}
#block_1{
	position: absolute;
	bottom:0;
	right: 0;
}
#block_2{
	position: absolute;
	top:0;
	right: 0;
}
.btn_reset{
	position: absolute;
	top: 40%;
}